body{
    background-color: rgb(29, 28, 28);
}

#links-header{
    color: white;
    background-color:rgb(29, 28, 28);
    border-radius: 10px;
    font-size: 40px;
    font-family:'sans-serif, Arial';
    text-align: center;
}

#links-hrule{
    margin-left: 80px;
    margin-right: 80px;
    color: white;
}

.links{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
}

.links:hover{
    color:rgb(200, 250, 246);
}

