p {background-color:#202020;Width:100px}

#links-header{
    background-color:rgb(214, 231, 255);
    border-radius: 10px;
    font-size: 40px;
    font-family:'sans-serif, Arial';
    text-align: center;
}

#links-hrule{
    margin-left: 80px;
    margin-right: 80px;
}

.links{
    color:rgb(124, 126, 255);
    margin-top: 10px;
    font-size: 20px;
}
.links:hover{
    color:rgb(7, 90, 83);
}